# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# Android
android/.gradle/
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
*.jks

# iOS
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*sync/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.vagrant/
ios/**/DerivedData/
ios/**/Icon?
ios/**/Pods/
ios/**/.symlinks/
ios/**/profile
ios/**/xcuserdata
ios/.generated/
ios/Flutter/.last_unpackaged
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral
ios/Flutter/app.flx
ios/Flutter/app.zip

# Node.js
server/node_modules/
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Build output
release/
outputs/
*.apk
*.aab
*.ipa
